{
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".ts", "tsx"]
      }
    ],
    "react/jsx-closing-tag-location": 0,
    "import/no-unresolved": "off",
    "quotes": [2, "single"],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "always"],
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off"
  }
}
